body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home-description {
  display: flex;
  height: 100vh;
  width: 70%;
  margin: auto;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.links-container > a {
  background-color: #009933;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: none;
}

.links-container > a:hover,
.links-container > a.active {
  background-color: #00b33c;
  cursor: pointer;
}

.links-container > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.code-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
}

.code-display {
  display: flex;
  flex-direction: column;
  background-color: #3a404d;
  height: 100%;
  overflow: auto;
  border-radius: 8px;
}

.code-display__header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  color: white;
}

.code-display__header-container > button {
  background: none;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.code-display__header-container > button:hover {
  cursor: pointer;
}

.header-container__solution {
  font-size: 0.875rem;
}

@media screen and (min-width: 1024px) {
  .code-container {
    max-width: 900px;
  }
}
